*,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

:root {
    --warna-satu : white;
    --warna-dua : #AEC3AE;
    --warna-tiga : black ;
    --warna-lima : #d1d9ee;
    --warna-enam : #94A684;
    --warna-tujuh : #E4E4D0;
}

header{
    background-color: var(--warna-dua);
    color: var(--warna-tiga);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 50px;
}

.logo {
    margin-right: auto;
    margin-left: 1px;
}

nav ul{
    display: flex;
    padding: 20px;
}

li {
    list-style-type: none;
    padding: 10px;
}

li a{
    transition: all 0.5s ease 0s;
}

li a:hover {
    color : var(--warna-tujuh);
}

a {
    color: var(--warna-tiga);
    text-decoration: none;
}

.btn-cta {
    margin-right: 10px;
    border : none;
    font-size: 20px;
    padding: 6px 12px;
    background-color: var(--warna-enam);
    color: var(--warna-tiga);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.btn-cta a {
    transition: all 0.5s ease 0s;
}
.btn-cta :hover{
    color: var(--warna-tujuh);
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 60px 0;
    background-color: var(--warna-tujuh);
    margin-bottom: 0;
}

.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin: 50px;
}

.tittle {
    font-size: 34px;
    font-weight: bold;
}

.deskripsi {
    font-size: 30px;
}

.img-foto {
    width: 100%;
    max-width: 500px;
    height: auto;
    padding: 10px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--warna-dua);
    color: var(--warna-tiga);
    padding: 20px;
    gap: 10px;
}

.mt-10 {
    margin-top: 1px;
}

.parallax {
    background-color: var(--warna-tujuh);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px 700px;
    height: 100vh;

}

.pendidikan p {
    background-color: #AEC3AE;
    padding: 50px 50px 50px 50px;
    font-size: large;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

@media screen and (max-width: 500px) {
    .container {
        padding : 0;
        width: 100%;
    }
    .intro{
        margin-top: 20px;
    }
   .img-foto{
    padding: 0;
   }
}